@import "scroll-snap-slider/src/scroll-snap-slider.css";
@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
.is-draggable {
  cursor: move;
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.aspect-ratio {
  width: 100%;
  height: 0;
  padding-bottom: 150%;
}
